*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-image: url('https://www.linkpicture.com/q/18_127.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
.container{
	display: flex;
	/*align-items: center;
	justify-content: center;*/
	min-height: 100vh;
	flex-direction: column;
}
.input{
	/* background: #ffffff10;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);*/
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 15px 15px;

}
.input-search{
	 background: #ffffff12;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(6px);
	width: 100%;
	max-width: 320px;
	padding: 10px 15px;
	/*background-color: lightgray;*/
	outline: none;
	border-radius: 20px 20px 20px 20px;
	border:none;
	font-family: 'Lora', bold;
	font-size: 15px;
	border: .1px solid black;
	font-weight: 400;
	/*transition: 0.2s ease-out;*/
}
.input-search:focus{
	 background: #ffffff10;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
	/*background-color: ghostwhite;*/
}
.box{
	flex: 1 1 100%;
	padding: 25px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/*justify-content: center;*/
	color: whitesmoke;
}
.location-city{
	font-size: 50px;
	font-family: monospace;
	margin-bottom: 15px;
	color: whitesmoke;
}
.location-date{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: whitesmoke;
}
.temperature-temp{
	font-family: serif;
	font-size: 80px;
	font-weight: bold;
	color: whitesmoke;
}

span{
	font-weight: 500;
}
.temperature-type{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: 600;
	color: whitesmoke;
}

.temperature-range{
	font-family: cursive;
	margin-top: 10px;
	font-size: 30px;
	font-weight: bold;
	color: whitesmoke;
}
.heading{
	text-align: center;
	margin-top: 0px;
	font-size: 40px;
	margin-bottom: -10px;
	font-family: sans-serif;
	font-weight: 600;
	color: whitesmoke;
}
h1{
	color: #2A243B;
	/*background: linear-gradient(to bottom,red,black);*/
	/*border-bottom: 5px solid yellow;*/
	/*color: linear-gradient(to left,black,yellow);*/
	animation-name: appear;
	animation-duration: 20s;
}
@keyframes appear{
	/*from {color: yellow;}*/
	to {color: white;}
}